#fullScreen{
	height:100%;
	width:100%;
	background:lightblue;
}
.header2:hover{
	background:red;
}
.header1{
	display:block;
	height:10%;
	width:100%;

}
.header2{
	background:#8E44AD;
}
#product{
	padding-left:45px;
	padding-top:50px;
	margin-left:20px;
	margin-top:20px;
	float:left;
	height:50%;
	width:25%;
	background:grey;
	
}
#body{
	height:80%;
	width:100%;
	background:green;	
}
#footer{
	height:10%;
	width:100%;
	background:#4A235A;
	font-size:25;
	color:white;
	font-family:verdana;
	text-align:right;
}
#filter{
	height:100%;
	width:10%;
	background:#D2B4DE;
	float:left;
}
#productDisplay{
	height:100%;
	width:90%;
	background:#F5EEF8;
	float:left;
	
}
#product:hover{
	border-style:solid;
	transform:rotate(45deg); 
	transition-duration: 15s;

}