#fullScreen{
	height:100%;
	width:100%;
	background:#ECF981;
}

input:hover{
	border-style:solid; 
}
.logo{
	height:10%;
	width:100%;
	background:orange;	
	text-align:center;
}
#prd{
	float:left;
	background:red;
	margin:5px;
	padding:5px;
	border-radius : 5px;
}
#prd:hover{
		transform:rotate(90deg); 
		transition-duration: 15s;
}
#popularLink{
	height:10%;
	width:100%;
	background:brown;		
}

#products{
	height:80%;
	width:100%;
	background:#2980B9;		
}
#filter{
	height:100%;
	width:10%;
	background:yellow;
	float:left;	
}
#filter:hover{
	background:#E67E22;
}
#display{
	height:100%;
	width:90%;
	background:white;		
	float:left;	
}
#leftDisplay{
	height:100%;
	width:50%;
	float:left;
}
#rightDisplay{
	height:100%;
	width:50%;
	float:left;
	font-size:20;
	color :orange;
	font-family:verdana;
}
#tmp
{
	height:100%;width:20%;background:grey;float:left;text-align: center;
	transform:rotate(-20deg); 
}